th.row-number-header,
th.checkbox-col {
    width: 20px !important;
}

th.actions-header {
    width: 30px !important;
}

td.actions-cell i:hover {
    cursor: pointer;
}

nav.navbar.navbar-light {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
}

th.id-header {
    display: none !important;
}

#edit-question-text {
    resize: none !important;
    height: 75px;
}

.form-group.possible-answers .input-group {
    margin-bottom: 10px;
}