<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Quizilla | Questions Administration</title>
        <link rel="stylesheet" type="text/css" href="../vendor/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="../css/admin.css" />
    </head>
    <body>
        <div class="container-fluid">
            <br>
            <br>
            <h3>Quzilla Questions Admin</h3>
            <br>
            <div class="row">
                <div class="col-xl-12">
                    <ul class="nav nav-tabs" id="tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-tab="questions" id="questions-tab" data-toggle="tab" href="#questions" role="tab" aria-controls="questions" aria-selected="true">Questions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-tab="categories" id="categories-tab" data-toggle="tab" href="#categories" role="tab" aria-controls="categories" aria-selected="false">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-tab="languages" id="languages-tab" data-toggle="tab" href="#languages" role="tab" aria-controls="languages" aria-selected="false">Languages</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="tabsContent">
                        <div class="tab-pane fade show active" id="questions" role="tabpanel" aria-labelledby="questions-tab">
                            <br>
                            <div class="container-fluid buttons-container">
                                <div class="row">
                                    <div class="col-xl-9">
                                        <button id="add-new-question" type="button" class="btn btn-primary">Add new</button>
                                        <button disabled id="delete-question" type="button" class="btn btn-danger">Delete selected</button>
                                    </div>
                                    <div class="col-xl-3">
                                        <div class="input-group mb-3">
                                            <input id="search-questions" type="text" class="form-control" placeholder="Search questions..." aria-label="Seach questions">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid questions-container">
                                <table class="table table-striped table-hover table-bordered" id="questions-table">
                                    <thead>
                                        <th scope="col" class="row-number-header">#</th>
                                        <th scope="col">ID</th>
                                        <th scope="col">Question</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Language</th>
                                        <th scope="col">Correct answer</th>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="categories" role="tabpanel" aria-labelledby="categories-tab">
                            <br>
                            <div class="container-fluid buttons-container">
                                <div class="row">
                                    <div class="col-xl-9">
                                        <button id="add-new-category" type="button" class="btn btn-primary">Add new</button>
                                        <button disabled id="delete-category" type="button" class="btn btn-danger">Delete selected</button>
                                    </div>
                                    <div class="col-xl-3">
                                        <div class="input-group mb-3">
                                            <input id="search-categories" type="text" class="form-control" placeholder="Search categories..." aria-label="Seach categories">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid categories-container">
                                <table class="table table-striped table-hover table-bordered" id="categories-table">
                                    <thead>
                                        <th scope="col" class="row-number-header">#</th>
                                        <th scope="col">ID</th>
                                        <th scope="col">Category code</th>
                                        <th scope="col">Category name</th>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="languages" role="tabpanel" aria-labelledby="languages-tab">
                            <br>
                            <div class="container-fluid buttons-container">
                                <div class="row">
                                    <div class="col-xl-9">
                                        <button id="add-new-language" type="button" class="btn btn-primary">Add new</button>
                                        <button disabled id="delete-language" type="button" class="btn btn-danger">Delete selected</button>
                                    </div>
                                    <div class="col-xl-3">
                                        <div class="input-group mb-3">
                                            <input id="search-languages" type="text" class="form-control" placeholder="Search languages..." aria-label="Seach languages">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid languages-container">
                                <table class="table table-striped table-hover table-bordered" id="languages-table">
                                    <thead>
                                        <th scope="col" class="row-number-header">#</th>
                                        <th scope="col">ID</th>
                                        <th scope="col">Language code</th>
                                        <th scope="col">Language name</th>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- external vendor resources -->
        <script src="../vendor/jquery-3.4.1.min.js"></script>
        <script src="../vendor/bootstrap.bundle.min.js"></script>
        <script src="../js/QuizillaUtil.js"></script>
        <script src="../js/admin.js?version=2"></script>
    </body>
</html>