<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Login | Quizilla Admin</title>
        <link rel="stylesheet" type="text/css" href="/vendor/material/material-components-web.min.css" />
        <script src="/vendor/material/material-components-web.min.js"></script>
    </head>
    <body>
        <div class="container">
            <button class="mdc-button mdc-button--outlined">
                <span class="mdc-button__ripple"></span>Learn More
            </button>
        </div>
    </body>
</html>